Repository openvinotoolkit/datumaro, pull requests merged in 2023-02, with the labels that each got.

#795 Fix CVAT for images 1.1 data format import at project level
  CHANGELOG.md
  datumaro/plugins/data_formats/cvat/base.py
  tests/assets/cvat_dataset/for_images/export_project/annotations.xml
  tests/assets/cvat_dataset/for_images/export_project/images/Test/img0.jpg
  tests/assets/cvat_dataset/for_images/export_project/images/Test/img1.jpg
  tests/assets/cvat_dataset/for_images/export_project/images/Train/img0.jpg
  tests/assets/cvat_dataset/for_images/export_project/images/Train/img1.jpg
  tests/assets/cvat_dataset/for_images/export_project/images/Validation/img0.jpg
  tests/assets/cvat_dataset/for_images/export_project/images/Validation/img1.jpg
  tests/assets/cvat_dataset/for_images/export_task/images/img0.jpg
  tests/assets/cvat_dataset/for_images/export_task/images/img1.jpg
  tests/assets/cvat_dataset/for_images/export_task/train.xml
  tests/test_cvat_format.py
Labels: bug, data formats

#801 Small fix of CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#802 Fix code format with the latest black==23.1.0
  CHANGELOG.md
  datumaro/components/operations.py
  datumaro/plugins/data_formats/camvid.py
  datumaro/plugins/data_formats/imagenet_txt.py
  datumaro/plugins/data_formats/mpii/mpii_mat.py
  datumaro/plugins/openvino_plugin/samples/ssd_face_detection_interp.py
  datumaro/plugins/openvino_plugin/samples/ssd_mobilenet_coco_detection_interp.py
  datumaro/plugins/openvino_plugin/samples/ssd_person_detection_interp.py
  datumaro/plugins/openvino_plugin/samples/ssd_person_vehicle_bike_detection_interp.py
  datumaro/plugins/openvino_plugin/samples/ssd_vehicle_detection_interp.py
  tests/cli/test_image_zip_format.py
  tests/test_splitter.py
  tests/test_validator.py
  tests/test_visualizer.py
  tests/test_yolo_format.py
Labels: infra

#800 Fixes ignored --loglevel by adding force=True when configuring with basicConfig.
  CHANGELOG.md
  datumaro/cli/__main__.py
Labels: bug

#804 Fix model loading in datum explain
  CHANGELOG.md
  datumaro/cli/commands/explain.py
  requirements-core.txt
  tests/assets/rise/model.bin
  tests/assets/rise/model.xml
  tests/assets/rise/model_interp.py
  tests/integration/cli/test_explain.py
  tests/requirements.py
Labels: bug, cli

#805 Fix model remove CLI command
  CHANGELOG.md
  datumaro/cli/contexts/model.py
  datumaro/components/project.py
  tests/assets/rise/model_interp.py
  tests/integration/cli/test_model.py
Labels: bug, cli

#812 Raise ImportError on importing malformed COCO directory
  CHANGELOG.md
  datumaro/components/errors.py
  datumaro/components/media.py
  datumaro/plugins/data_formats/coco/base.py
  tests/integration/cli/test_filter.py
  tests/integration/cli/test_transform.py
  tests/unit/test_coco_format.py
  tests/unit/test_dataset.py
  tests/unit/test_ndr.py
  tests/unit/test_ops.py
Labels: enhancement, data formats

#822 [Doc] Emily/doc update
  .github/workflows/github_pages.yml
  CHANGELOG.md
  README.md
  site/content/en/docs/getting_started.md
  site/content/en/docs/user-manual/_index.md
  site/content/en/docs/user-manual/installation.md
Labels: documentation

#816 Add with_subset_dirs decorator
  CHANGELOG.md
  datumaro/components/dataset.py
  datumaro/components/environment.py
  datumaro/components/importer.py
  datumaro/plugins/data_formats/imagenet.py
  tests/assets/imagenet_subsets_dataset/test/label_0/label_0_1.jpg
  tests/assets/imagenet_subsets_dataset/test/label_0/label_0_2.jpg
  tests/assets/imagenet_subsets_dataset/test/label_1/label_1_1.jpg
  tests/assets/imagenet_subsets_dataset/train/label_0/label_0_1.jpg
  tests/assets/imagenet_subsets_dataset/train/label_0/label_0_2.jpg
  tests/assets/imagenet_subsets_dataset/train/label_1/label_1_1.jpg
  tests/assets/imagenet_subsets_dataset/val/label_0/label_0_1.jpg
  tests/assets/imagenet_subsets_dataset/val/label_0/label_0_2.jpg
  tests/assets/imagenet_subsets_dataset/val/label_1/label_1_1.jpg
  tests/unit/test_imagenet_format.py
Labels: enhancement, data formats

#825 Skip some video unit tests on MacOS
  tests/unit/test_video.py
Labels: infra

#823 Update copyright year in PR template
  .github/pull_request_template.md
Labels: infra

#826 Add CommonSemanticSegmentationWithSubsetDirsImporter
  CHANGELOG.md
  datumaro/components/format_detection.py
  datumaro/plugins/data_formats/common_semantic_segmentation.py
  datumaro/plugins/data_formats/imagenet.py
  datumaro/util/image.py
  datumaro/util/os_util.py
  tests/assets/common_semantic_segmentation_dataset/non_standard_dataset/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/non_standard_dataset/images/image_0001.png
  tests/assets/common_semantic_segmentation_dataset/non_standard_dataset/images/image_0002.png
  tests/assets/common_semantic_segmentation_dataset/non_standard_dataset/masks/gt_0001.png
  tests/assets/common_semantic_segmentation_dataset/non_standard_dataset/masks/gt_0002.png
  tests/unit/data_formats/base.py
  tests/unit/data_formats/conftest.py
  tests/unit/data_formats/test_common_semantic_segmentation_format.py
  tests/unit/test_common_semantic_segmentation_format.py
Labels: refactoring, data formats, testing
