Repository openvinotoolkit/datumaro, pull requests merged in 2023-10, with the labels that each got.

#1163 fix errata in voc doc
  CHANGELOG.md
  docs/source/docs/data-formats/formats/pascal_voc.md
Labels: DOC

#1168 Add SAMAutomaticMaskGeneration transform
  CHANGELOG.md
  docs/source/docs/jupyter_notebook_examples/transform.rst
  notebooks/19_automatic_instance_mask_gen_using_sam.ipynb
  src/datumaro/plugins/sam_transforms/__init__.py
  src/datumaro/plugins/sam_transforms/automatic_mask_gen.py
  src/datumaro/plugins/sam_transforms/interpreters/sam_decoder_for_amg.py
  src/datumaro/plugins/specs.json
  tests/unit/transforms/test_sam_transforms.py
Labels: FEATURE

#1165 Fix doc links for 1.5.1
  CHANGELOG.md
  docs/source/docs/data-formats/formats/index.rst
  docs/source/docs/data-formats/formats/yolo_ultralytics.md
  docs/source/docs/jupyter_notebook_examples/transform.rst
Labels: BUG, DOC

#1172 Update our CI OS from `windows-2019` to `windows-2022`
  .github/workflows/nightly_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/publish_sdist_to_pypi.yml
  .github/workflows/weekly_check.yml
Labels: BUG, CI

#1169 Fix memory unbounded Arrow data format export/import
  CHANGELOG.md
  docs/source/docs/data-formats/formats/arrow.md
  src/datumaro/components/dataset_base.py
  src/datumaro/components/format_detection.py
  src/datumaro/plugins/data_formats/arrow/arrow_dataset.py
  src/datumaro/plugins/data_formats/arrow/base.py
  src/datumaro/plugins/data_formats/arrow/exporter.py
  src/datumaro/plugins/data_formats/arrow/format.py
  src/datumaro/plugins/data_formats/arrow/importer.py
  src/datumaro/plugins/data_formats/arrow/mapper/dataset_item.py
  src/datumaro/plugins/data_formats/arrow/mapper/media.py
  src/datumaro/plugins/data_formats/arrow/mapper/utils.py
  src/datumaro/plugins/data_formats/datumaro/exporter.py
  tests/unit/data_formats/arrow/conftest.py
  tests/unit/data_formats/arrow/test_arrow_format.py
Labels: BUG, data formats

#1175 Change image default dtype from float32 to uint8
  CHANGELOG.md
  src/datumaro/components/media.py
  src/datumaro/plugins/framework_converter.py
  tests/unit/operations/test_statistics.py
  tests/unit/test_framework_converter.py
  tests/unit/test_ops.py
Labels: ENHANCE

#1183 Update CVAT format doc to bypass warning
  CHANGELOG.md
  docs/source/docs/data-formats/formats/cvat.md
  docs/source/docs/data-formats/formats/index.rst
Labels: DOC

#1174 Add comparison level-up doc
  CHANGELOG.md
  docs/source/docs/command-reference/context_free/compare.md
  docs/source/docs/level-up/intermediate_skills/06_data_comparison.rst
  docs/source/docs/level-up/intermediate_skills/07_data_merge.rst
  docs/source/docs/level-up/intermediate_skills/index.rst
Labels: DOC

#1182 Optimize Python import to make CLI entrypoint faster
  CHANGELOG.md
  pyproject.toml
  src/datumaro/cli/commands/generate.py
  src/datumaro/cli/util/compare.py
  src/datumaro/components/algorithms/hash_key_inference/base.py
  src/datumaro/components/algorithms/hash_key_inference/prune.py
  src/datumaro/components/algorithms/noisy_label_detection/loss_dynamics_analyzer.py
  src/datumaro/components/environment.py
  src/datumaro/components/extractor_tfds.py
  src/datumaro/components/lazy_plugin.py
  src/datumaro/components/media.py
  src/datumaro/components/project.py
  src/datumaro/components/shift_analyzer.py
  src/datumaro/components/visualizer.py
  src/datumaro/plugins/accuracy_checker_plugin/details/ac.py
  src/datumaro/plugins/sampler/algorithm/entropy.py
  src/datumaro/plugins/sampler/relevancy_sampler.py
  src/datumaro/plugins/specs.json
  src/datumaro/util/import_util.py
  tests/unit/test_environment.py
Labels: ENHANCE
